{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<section class="login-page">
    <div class="container">

        <h2 class="section-title_login">Change Password</h2>

        <div class="login-grid">

            <div class="login-card">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert-success">{{ messages[0] }}</div>
                {% endif %}
                {% endwith %}

                <form method="POST">

                    <input type="password" name="old" placeholder="Old Password" required>
                    <input type="password" name="new" placeholder="New Password" required>
                    <input type="password" name="confirm" placeholder="Confirm Password" required>

                    <button type="submit" class="btn-login">Update Password</button>

                </form>

            </div>

        </div>

    </div>
</section>

{% endblock %}
