{% extends "base.html" %}
{% block title %}Manage Users{% endblock %}

{% block content %}

<section class="dashboard">
<div class="container">

<div class="dashboard-header">
<h2>Manage Users</h2>
<p>View all registered customers</p>
</div>

<div class="export-btn-wrap">
    <a href="/export-users" class="btn-export">
        Download Users PDF
    </a>
</div>


<div class="recent-bookings">

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Action</th>
</tr>

{% if users|length == 0 %}
<tr>
<td colspan="5" style="text-align:center;">No users found</td>
</tr>
{% endif %}

{% for u in users %}
<tr>
<td>{{ u[0] }}</td>
<td>{{ u[1] }}</td>
<td>{{ u[2] }}</td>
<td>{{ u[3] }}</td>

<td>
<a href="/admin-delete-user/{{ u[0] }}"
   class="btn-reject"
   onclick="return confirm('Delete this user?')">
Delete
</a>
</td>

</tr>
{% endfor %}

</table>

</div>

</div>
</section>

{% endblock %}
