{% extends "base.html" %}
{% block title %}All Bookings{% endblock %}

{% block content %}

<section class="dashboard">
<div class="container">

<div class="dashboard-header">
<h2>All Service Bookings</h2>
<p>Monitor all user requests</p>
</div>
<div class="export-btn-wrap">
    <a href="/export-bookings" class="btn-export">
        Download Bookings PDF
    </a>
</div>

<div class="recent-bookings">

<table>

<tr>
<th>ID</th>
<th>User</th>
<th>Provider</th>
<th>Service</th>
<th>Date</th>
<th>Status</th>
</tr>

{% if bookings|length == 0 %}
<tr>
<td colspan="6" style="text-align:center;">
No bookings found
</td>
</tr>
{% endif %}

{% for b in bookings %}
<tr>

<td>{{ b[0] }}</td>
<td>{{ b[1] }}</td>
<td>{{ b[2] }}</td>
<td>{{ b[3] }}</td>
<td>{{ b[4] }}</td>

<td>
{% if b[5] == "Pending" %}
<span class="pending">Pending</span>
{% elif b[5] == "Completed" %}
<span class="completed">Completed</span>
{% elif b[5] == "Rejected" %}
<span class="rejected">Rejected</span>
{% else %}
<span>{{ b[5] }}</span>
{% endif %}
</td>

</tr>
{% endfor %}

</table>

</div>

</div>
</section>

{% endblock %}
